@import '_colors.scss';
.SignUp {
    width: 60%;
    color: $text_sec;
    @media screen and (max-width: 992px) {
        width: 90%;
        margin: 0 auto;
          }
}
.form_head {
    font-size: 36px;
    color: $text_sec;
}