.menuitem_right {
    float: right !important;
}
.light_item_group {
    color: #ffffff;
    background-color: #ffffff80;
}
.logo {
    width: 42px;
    height: 42px;
    margin: 12px 12px 12px 12px;
    border: white 2px solid;
    border-radius: 30px;
    padding: 5px;
    float: left;
}
