@import '_colors.scss';
.menuitem_right {
    float: right !important;
}
.menuitem_nopadding {
    padding: 0px!important;
}
.light_item_group {
    color: $text_main;
    background-color: $modal_bg;
}
.search_input {
    input {
    background-color: lighten($modal_bg,10%)!important;
    color: $text_main;
    }
}
.logo {
    width: 42px;
    height: 42px;
    margin: 12px 12px 12px 12px;
    border: $text_main 2px solid;
    border-radius: 30px;
    padding: 5px;
    float: left;
}
.header {
    padding: 0px 36px !important;
    z-index: 3;
    @media screen and (max-width: 992px) {
        padding: 0px!important;
          }

}