.trigger { 
    color: rgba(255, 255, 255, 0.582);
    z-index:3;
    font-size: 24px;
    line-height: 64px;
    padding-top: 42px;
    padding-left: 16px;
    position: absolute;
    left:205px;
    cursor: pointer;
    transition: color .3s;
    &:hover {
        color: #ffffff;
      }
    @media screen and (min-width: 992px) {
        display: none!important;
    }
}