.ant-layout-sider-zero-width-trigger {
    top: 42px!important;
}
.ant-layout-sider {
    background: linear-gradient(#051529,#051529,#051529,#ffffff00)!important;
    z-index: 3;
    @media screen and (max-width: 992px) {
        position: absolute!important;
        min-height: 600px;
    }
}