.ant-layout-sider-zero-width-trigger {
    top: 42px!important;
}
.ant-layout-sider {
    background: '#051529'!important;
    @media screen and (max-width: 700px) {
        position: absolute!important;
        z-index: 1;
        min-height: 600px;
    }
}