@import '_colors.scss';
.Backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%!important;
    height: 100%!important;
    min-height: 800px;
    background: $backd;
    z-index: 2;
}