.Layout {
  text-align: center; }

.Layoutheader {
  background-color: #10bcd6;
  height: 150px;
  padding: 20px; }
  .Layoutheader h1 {
    color: white; }

.Layouttitle {
  font-size: 1.5em; }

.Layoutintro {
  padding-top: 15px;
  font-size: large; }
