.Layout {
  text-align: center;
}

.Layoutheader {
  background-color: rgb(16, 188, 214);
  height: 150px;
  padding: 20px;
  h1 {
    color: rgb(255, 255, 255);
  }
}

.Layouttitle {
  font-size: 1.5em;
}

.Layoutintro {
  padding-top: 15px;
  font-size: large;
}
