.Layout {
  text-align: center;
}

.Layoutheader {
  background-color: rgb(112, 10, 10);
  height: 150px;
  padding: 20px;
  color: white;
}

.Layouttitle {
  font-size: 1.5em;
}

.Layoutintro {
  font-size: large;
}
