.book_card {
    color: white!important;
    min-width: 100%;
    min-height: 250px;
    margin-bottom: 14px;
    border-radius: 5px;
}
.splash_card {
    height: 100%;
    margin-right: 12px;
    padding: 5px!important;
    text-align: center;
    box-shadow: none!important;
    @media screen and (max-width: 1030px) {
        margin-right: 0px;
        margin-bottom: 12px;
        width: 100%!important;
    }
}
.desc_card {
    height: 100%;
    width: 60%!important;
    box-shadow: none!important;
    padding: 24px 0px 0px 0px!important;
    @media screen and (max-width: 1030px) {
        width: 100%!important;
    }
    li{
      padding: 12px;  
    }
}
.the_book {
    height: 360px;
    width: 250px;
    border: 1px solid white;
    align-self: center;
}
.desc {
    max-height: 200px;
    overflow: auto;
}
.card_button {
    background-color: transparent!important;
    color: white!important;
}