body {
  font-family: 'Biryani', sans-serif;
  background-color: #051529;
  background-image:url('./assets/more_books.jpg');
  background-repeat: repeat-x;
}
.ant-layout {
  background:linear-gradient( #05152950, #05152938,#051529);
}
.ant-layout-footer {
  background: #051529;
}
.ant-menu-item-selected {
  background-color: #f8fcff!important;
  color: #051529!important;
  a{
    color: #051529!important;
  }
}
.ant-form-item-label label, .ant-form-explain, .ant-form-extra, .ant-checkbox-wrapper{
  color:#ffffffcc!important;
}
.ant-input,.ant-select,.ant-cascader-picker,.ant-cascader-menus {
  background-color:#f8fcff!important;
}
.ant-modal-content {
  background-color: #233238;
  .ant-modal-header {
    background-color: inherit;
    border-bottom: none;
  }
  .ant-confirm-title, .ant-confirm-content, .ant-modal-title, .ant-modal-close-x {
    color: #ffffffcc;
  }
}
.ant-table-row {
  color: #ffffffcc;
  background-color: #223333a6;
}
.ant-table-thead > tr.ant-table-row-hover > td,
.ant-table-tbody > tr.ant-table-row-hover > td,
.ant-table-thead > tr:hover > td,
.ant-table-tbody > tr:hover > td,
.ant-table-tbody > tr.ant-table-row-selected td {
  background-color: #3f5369;
}
.ant-card-head {
  background-color: #051529;
  border-bottom: none;
  .ant-card-head-title{
    color: #ffffffcc;
  }
}
.ant-breadcrumb {
  a,span{
  color: #ffffffcc;
  }
  margin-bottom: 8px;
}
#root {
  height: 100%;
  min-height: 800px;
}