@import '_colors.scss';
body {
  font-family: 'Biryani', sans-serif;
  background-color: $bg_main;
  background-image:url('./assets/more_books.jpg');
  background-repeat: repeat-x;
}
.ant-layout {
  background:linear-gradient( transparentize($bg_main,0.75),transparentize($bg_main,0.75),$bg_main);
}
.ant-layout-footer {
  background: $bg_main;
}
.ant-menu-item-selected {
  background-color: $text_main!important;
  color: $bg_main!important;
  a{
    color: $bg_main!important;
  }
}
.ant-form-inline .ant-form-item {
  width: 100%;
  margin-bottom: 16px!important;
  }
.ant-form-item-label label, .ant-form-explain, .ant-form-extra, .ant-checkbox-wrapper{
  color:$text_sec!important;
}
.ant-input,.ant-select,.ant-cascader-picker,.ant-cascader-menus, .ant-input-number-input, .ant-upload {
  background-color:$text_main!important;
}
.ant-modal-content {
  background-color: $modal_bg;
  .ant-modal-header,.ant-modal-footer {
    background-color: inherit;
    border-bottom: none;
    border-top: none!important;
  }
  .ant-confirm-title, .ant-confirm-content, .ant-modal-title, .ant-modal-close-x {
    color: $text_sec;
  }
}
.ant-table-row {
  color: $text_main;
  background-color: transparent//#223333a6;
}
.ant-table-tbody > tr > td, .ant-table-thead > tr > th > span {
  border: none;
  word-break: normal;
}
.ant-table-thead > tr.ant-table-row-hover > td,
.ant-table-tbody > tr.ant-table-row-hover > td,
.ant-table-thead > tr:hover > td,
.ant-table-tbody > tr:hover > td,
.ant-table-tbody > tr.ant-table-row-selected td {
  background-color: $titem_sel;
}
.ant-table-thead > tr:first-child > th:first-child, .ant-table-thead > tr:first-child > th:last-child {
  border-radius: 0px;
}
.ant-card-head {
  background-color: $bg_main;
  border-bottom: none;
  .ant-card-head-title{
    color: $text_sec;
  }
}
.ant-breadcrumb {
  a,span{
  color: $text_sec;
  }
  margin: 12px;
}
.ant-pagination-item, .ant-pagination-next,  .ant-pagination-prev {
  a{
  color: $text_main!important;
  }
}
.ant-pagination-item-active{
  background-color: $bg_main;
}
.ant-upload-list-item-name {
  color: $text_sec;
}
.ant-message-notice-content {
  background: $msg_bg;
  border: 2px solid $msg_bor;
}
.ant-btn[disabled]{
  opacity: 0.7;
}
#root {
  height: 100%;
  min-height: 800px;
}
.ant-list {
  color: $text_main;
.ant-list-item {
  border-bottom: none !important;
}
}
.ant-list-item-meta-title {
  a {
    color: $text_main;
  }
}