body {
  font-family: 'Biryani', sans-serif;
  background-color: #051529;
  background-image:url('./assets/more_books.jpg');
  background-repeat: repeat-x;
}
.ant-layout {
  background:linear-gradient( #05152950, #05152938,#051529);
}
.ant-layout-footer {
  background: #051529;
}
#root {
  height: 100%;
  min-height: 800px;
}