$bg_main: #051529;
$text_main: #f8fcff;
$text_sec: #ffffffcc;
$modal_bg: #233238;
$titem_sel:#3f5369; 
$msg_bg:#f9ffb4;
$msg_bor:#ffed4f;

$backd: rgba(0, 0, 0, 0.253);
$trigger: #99321d;
$gbutton: #ce3535f0;