$bg_main: rgb(5, 21, 40);
$text_main: hsl(206, 100%, 99%);
$text_sec: rgba(255, 255, 255, 0.8);
$modal_bg: rgb(35, 50, 56);
$titem_sel:rgb(63, 83, 105); 
$msg_bg:rgb(249, 255, 180);
$msg_bor:rgb(255, 237, 79);

$backd: rgba(0, 0, 0, 0.253);
$trigger: rgb(153, 50, 29);
$gbutton: rgba(206, 53, 53, 0.941);