@import '_colors.scss';
.Delete_modal {
    margin: auto !important;
    ol {
        color: $text_sec;
    }
}
.message {
    color: $text_sec;
    font-size: 18px;
    margin-bottom: 20px;
    span {
        color: red;
        font-weight: bold;
    }
}