@import '_colors.scss';
.login_form {
    max-width: 350px;
    margin-right: auto!important;
    margin-left: auto!important;
  }
.login_form_forgot {
    float: right;
  }
.login_form_button {
    width: 100%;
  }
  .login_form_gbutton {
    margin-top: 12px;
    background-color: $gbutton;
    border-color: $gbutton;
    border-radius: 4px;
    color: $text_main;
  }